.wrapper {
  background-color: darkslategray;
  padding: 20px;
  min-width: 300px;
  display: inline-block;
}

.wrapper::after {
  content: "";
  clear: both;
  display: block;
}
* .item1 {
  background-color: darkviolet;
  float: left;
}

.item2 {
  background-color: deepskyblue;
  float: right;
}

.item3 {
  background-color: forestgreen;
}

.item {
  padding: 20px;
}

.wrapper-2 {
  background-color: hotpink;
  padding: 20px;
  min-width: 300px;
}
