button {
  width: 200px;
  height: 80px;
  background-image: url(image/sprite.png);
  background-position: top;
  background-size: cover;
  text-indent: -9999px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: grey;
}

button:hover {
  background-position: center;
}

button:active {
  background-position: bottom;
}
